
@{
    ViewData["Title"] = "BlockLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<section class="cart-section">
    <div class="auto-container">
        <!--Cart Outer-->
        <div class="cart-outer">
            <h2>You are not anymore to be Login...</h2>
            <h4>You are blocked by the Syatem...</h4>
        </div>
    </div>
</section>

