
@{
    ViewData["Title"] = "LoginFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<section class="cart-section">
    <div class="auto-container">
        <!--Cart Outer-->
        <div class="cart-outer">
            <h4>Try Again....</h4>
            <h6>This email is already Registered...</h6>
            <a href="/PatientReg/Reg"><button class="theme-btn btn-style-three">Try Again</button></a>
        </div>
    </div>
</section>


