@model Medical.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-header card">
            <div class="card-block">
                <h5 class="m-b-10">Edit Doctor Category</h5>
                <ul class="breadcrumb-title b-t-default p-t-10">
                    <li class="breadcrumb-item">
                        <a> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../Index">Doctor Category List</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Edit Doctor Category</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Edit Doctor Category Here...</h5>
                        </div>
                        <div class="card-block">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <input type="hidden" asp-for="Category_ID" />
                                    <label class="col-sm-2 col-form-label"> Category Name : </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" asp-for="Category_Name">
                                        <span asp-validation-for="Category_Name" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Category Description : </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" asp-for="Category_Description"></textarea>
                                        <span asp-validation-for="Category_Description" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Category Sub Description : </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" asp-for="Category_SubDescription"></textarea>
                                        <span asp-validation-for="Category_SubDescription" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Category Profile : </label>
                                    <div class="col-sm-10">
                                        <input type="file" name="fileobj" asp-for="Category_Profile" class="form-control" />
                                        <span asp-validation-for="Category_Profile" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">

                                        <img src="~/Category_Image/@Html.DisplayFor(model=>model.Category_Profile)" class="img-radius" alt="User-Profile-Image" height="60" width="50" />
                                        <span asp-validation-for="Category_Profile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Category Main Profile : </label>
                                    <div class="col-sm-10">
                                        <input type="file" name="fileobj1" asp-for="Category_MainProfile" class="form-control" />
                                        <span asp-validation-for="Category_MainProfile" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">

                                            <img src="~/Category_Image/@Html.DisplayFor(model=>model.Category_MainProfile)" class="img-radius" alt="User-Profile-Image" height="60" width="50" />
                                            <span asp-validation-for="Category_MainProfile" class="text-danger"></span>
                                        </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-sm-2"></label>
                                    <div class="col-sm-10">

                                        <button class="btn btn-grd-success btn-round">EDIT</button>
                                        <!--<input type="submit" value="Create" class="btn btn-primary m-b-0" />-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




