@model Medical.Models.Medicine_Image

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medicine_Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Images)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Medicine_Images/@Html.DisplayFor(model=>model.Medicine_Images)" height="50" width="50" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Medicine_Image_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
