@model Medical.Models.Medicine_Image

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Medicine_Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Medicine_Image">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medicine_Image_ID" />
            <div class="form-group">
                <label asp-for="Medicine_ID" class="control-label"></label>
                <select asp-for="Medicine_ID" class="form-control" asp-items="@(new SelectList(ViewBag.MedList,"Medicine_ID","Medicine_Name"))">
                </select>

                <span asp-validation-for="Medicine_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Images" class="control-label"></label>
                <input type="file" name="fileobj" multiple asp-for="Medicine_Images" class="form-control" />
                <span asp-validation-for="Medicine_Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Images" class="control-label"></label>
                <img src="~/Medicine_Images/@Html.DisplayFor(model=>model.Medicine_Images)" height="50" width="50" />
                <span asp-validation-for="Medicine_Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

