@model Medical.Models.ViewModel
@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="team-section-two alternate alternate2">
    <div class="auto-container">
        <div class="row">
            <!-- Team Block -->
            @foreach (var item in Model.categoryList)
            {
                <div class="team-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="/PatDoctor/DocCategory/@item.Category_ID"><img src="~/Category_Image/@item.Category_MainProfile" alt=""></a></figure>

                        </div>
                        <div class="info-box">
                            <h5 class="name"><a href="">@item.Category_Name</a></h5>
                           
                        </div>
                    </div>
                </div>
            }
            <!-- Team Block -->
        </div>

        <div class="sec-bottom-text">Don’t hesitate, contact us for better help and services. <a href="/PatDoctor/DoctorList">Explore all Dr. Team</a></div>
    </div>
</section>

