@*@model Medical.Models.ViewModel.List<Cart,Medicine>

<tr>
    <td>
        <h6>@Model.Medicine_Name</h6>
        <p>@Model.Medicine_Name</p>
    </td>
    <td>@Model.Cart_Qty</td>
    <td>@Model.Medicine_Price</td>
    <td>Total</td>
</tr>*@