@model Medical.Models.Medicine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Medicine">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medicine_ID" />
            <div class="form-group">
                <label asp-for="Medicine_Name" class="control-label"></label>
                <input asp-for="Medicine_Name" class="form-control" />
                <span asp-validation-for="Medicine_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Price" class="control-label"></label>
                <input asp-for="Medicine_Price" class="form-control" />
                <span asp-validation-for="Medicine_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Brand" class="control-label"></label>
                <input asp-for="Medicine_Brand" class="form-control" />
                <span asp-validation-for="Medicine_Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Strip_Tablets" class="control-label"></label>
                <input asp-for="Medicine_Strip_Tablets" class="form-control" />
                <span asp-validation-for="Medicine_Strip_Tablets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Image" class="control-label"></label>
                <input type="file" name="fileobj"  asp-for="Medicine_Image" class="form-control" />
                <span asp-validation-for="Medicine_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Image" class="control-label"></label>
                <img src="~/Medicine_Main_Image/@Html.DisplayFor(model=>model.Medicine_Image)" height="50" width="50" />
                <span asp-validation-for="Medicine_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Content" class="control-label"></label>
                <input asp-for="Medicine_Content" class="form-control" />
                <span asp-validation-for="Medicine_Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Description" class="control-label"></label>
                <input asp-for="Medicine_Description" class="form-control" />
                <span asp-validation-for="Medicine_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

